.txt {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.txt2 {
    display: flex;
    margin-right: 15%;
    align-items: center;
}

.txt3 {
    margin-left: 10%;
}

.txt4 {
    color: #ff5400;
}

.txt5 {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 20px;
}

.img {
    margin-top: 10%;
    height: 35px;
}

.txt6 {
    display: flex;
}

.txt7 {
    text-align: center;
    color: #fff;
}

.txt8 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: bolder;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.txt9 {
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/Group\ 13\ \(1\)\ \(1\).png)
}

.txt10 {
    align-items: center;
    justify-content: center;
}

.txt11 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
}

.txt12 {
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    margin-top: 120px;
}

.txt13 {
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 20px;
}

.txt14 {
    margin-left: 25px;
}

.img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 95vh;
    "width: 540px;
 height: 550px;
}

.btn1 {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #ff5400;
}

.txt15 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.txt16 {
    font-weight: bolder;
    font-size: xx-large;
}
.img3{
    display: flex;
    justify-content: center;
}