.txt {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.txt2 {
    display: flex;
    margin-right: 15%;
    align-items: center;
}

.txt3 {
    margin-left: 10%;
}
.txt4{
    color: #ff5400;
}
.txt5 {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 20px;
}
.img{
    /* align-items: center; */
    margin-top: 10%;
    height: 35px;
}
.txt6 {
    display: flex;
}