@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.txt {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    /* gap: 100px; */
    font-family: "Mulish", sans-serif;

}

.txt2 {
    display: flex;
    margin-right: 11%;
    align-items: center;
}

.txt3 {
    margin-left: 10%;
}

.txt4 {
    color: #ff5400;
}

.txt5 {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 20px;
}


.txt6 {
    display: flex;
}

.txt7 {
    text-align: center;
    color: #fff;
}

.txt8 {
    text-align: center;
    color: #fff;
    font-size: 64px;
    font-weight: 800px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.txt9 {
    background-position: top center;
    font-family: "Mulish", sans-serif;
    height: 720px;
    width: 1720px;
    /* margin-right: 60px; */
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/Group\ 13\ \(1\)\ \(1\).png);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

}

.txt10 {
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.txt11 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    /* margin-left: 1rem; */
}

.txt12 {
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    margin-top: 120px;
    font-family: "Mulish", sans-serif;
}

.txt13 {
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 20px;
}

.txt14 {
    /* margin-left: 25px; */
    margin-top: 1.5rem;
}

.img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 95vh;
    width: 540px;
    height: 550px;
}

.btn1 {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #ff5400;
}

.txt15 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.txt16 {
    font-weight: bolder;
    font-size: xx-large;
}

.img3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.txt17 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt18 {
    background: #222121b3;
    height: 720px;
    width: 1720px;
    position: absolute;
    border-radius: 20px;


}

.txt19 {
    position: relative;
    top: 30%;
}

.txt20 {
    display: flex;
    align-items: center;
    padding: 20px;
    border: none;
    color: white;
    background-color: #ff5400;
    gap: 5px;
    border-radius: 10px;
    margin-left: .5rem;
}

.txt21 {
    padding: 20px;
    border-radius: 10px;
}

.txt22 {
    padding: 20px;
    border-radius: 10px;

}

.txt23 {
    padding: 20px;
    border-radius: 10px;
}

.txt24 {
    gap: 40px;
    display: flex;
    justify-content: center;
}

.txt25 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Mulish", sans-serif;
}

.txt26 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.txt27 {
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

.txt28 {
    margin-left: 20px;
}

.h {
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.b1 {
    border-radius: 16px;
    border: solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-left: 50px;

}

.b3 {
    display: flex;


}

.img4 {

    height: 50px;
    width: 50px;
}

.txt30 {
    font-weight: bolder;
    font-size: xx-large;
    font-family: "Mulish", sans-serif;
}

.p1 {
    padding: 10px;
}

.b2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 30px;
}

.txt31 {
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    
}
.b4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}